FashionClass-Classifier/fashion-mnist_train.csv
FashionClass-Classifier/fashion-mnist_test.csv
FashionClass-Classifier/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Titanic/.ipynb_checkpoints/Untitled-checkpoint.ipynb
EXTRAS/sql-cleaning/laptopData.csv
c.java
c.class
Quotes/database/__pycache__/db_utils.cpython-313.pyc
Quotes/config/__pycache__/config.cpython-313.pyc
Package-predict-web/app.py
Package-predict-web/__pycache__/model.cpython-313.pyc
